footer{
    background-color: #615968;
}

h5{ /*Títulos*/

}
.nós{

}

.links{
    text-decoration: none;
    color: #fff;
}

.bi-instagram{

}

.bi-facebook{

}

.bi-envelope-at-fill{

}

.bi-telephone {

}

.Copyright{
 text-align: center;
}

.ping-copyrigth {
    
}