@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&display=swap');

@font-face {
    font-family: 'retro';
    src: url(assets/Retro\ Gaming.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}
:root {
    --roxo-color: #CDA7FF;
    --darkb-color: #1D438A;
}

.text-secondary {
    color: #CDA7FF !important;
}
body {
    background-color: #615968;
    font-family: 'Josefin Sans', sans-serif;
}

.roxo {
    color: var(--roxo-color);
}

.navbar-brand {
    font-family: 'retro', Times, serif;
    color: var(--roxo-color);
}
.bi-person-circle {
    font-size: 22px;
}

.bi-person-circle:hover {
    color: white;
}

#nav-botao:hover {
    color: rgba(255, 255, 255, 0.651)
}

#imagem img {
    margin-top: 30px;
}
.tudo {
    justify-content: center;
    color: white;
}

.text-1 {
    font-size: 18px;
    margin: 20px 0;
    padding-bottom: 20px;
}


footer{
    margin-top: 90px;
    background-color: #343A40;
}

#-footer {
    justify-content: space-between;
}

#--footer-h5{ /*Títulos*/
    color: var(--roxo-color);
}
.nós{
    color: white;
}

.links{
    text-decoration: none;
    color: #fff;
}

.bi-instagram{
    color: white;
}

.bi-facebook{
    color: white;
}

.bi-envelope-at-fill{
    color: white;
}

.bi-telephone {
    color: white;
}

.Copyright{
    text-align: center;
    color: rgb(146, 143, 143);
}

.ping-copyrigth {
    color: rgb(146, 143, 143);
}