@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&display=swap');

@font-face {
    font-family: 'retro';
    src: url(assets/Retro\ Gaming.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}
:root {
    --roxo-color: #CDA7FF;
    --darkb-color: #1D438A;
}

.text-secondary {
    color: #CDA7FF !important;
}
body {
    background-color: #615968;
    font-family: 'Josefin Sans', sans-serif;
}

.roxo {
    color: var(--roxo-color);
}

.navbar-brand {
    font-family: 'retro', Times, serif;
    color: var(--roxo-color);
}
.bi-person-circle {
    font-size: 22px;
}

.bi-person-circle:hover {
    color: white;
}

#nav-botao:hover {
    color: rgba(255, 255, 255, 0.651)
}

/* Banner */
/* __________________________________________________ */
#imagem img {
    height: 100%;
   
}
#imagem iframe {
    width: 100% ;
}
.img-fluid {
    margin: 20px 0;
    display: flex;
    justify-content: center;
    width: 3000px;
    height: 100%;
}

.text-1 {
    color: #fff;
    margin-top: 25px;
    font-size: 18px;
    /* text-decoration: solid; */
}

.btn {
    margin-top: 25px;
   border-radius: 3;
   color: #fff;
   font-size: 30px;
    margin-bottom: 20px;
}

.comprar-container {
    margin-left: 30px;
}
.comprar-p {
    color: white;
    padding-top: 20px;
}
.comprar-span {
    padding-top: 0px;
    color: white;
}

.container2 {
    background-color: rgba(0, 0, 0, 0.407);
    height: auto;
}

.afasta {
    padding-right: 20px;
}

.texto {
    margin: 25px 0;
    text-align: justify;
    color: white;
    font-size: 18px;
} 

.bi {
    margin-left: 5px; 
    font-size: 20px;
 }
 .lilas {
     color: #cda7ff;
 }
 .nota {
     margin-right: 15px;
     font-size: 20px;
     border-bottom: solid 1px rgb(255, 255, 255);
 }
 .nota::before {
     background-color: #000000;
     height: 50px;
     width: 50px;
 }

 .afasta2 {
    padding-left: 7%;
}

/* Comentários */
/* ____________________________ */
.container1 {
    background-color: rgba(0, 0, 0, 0.500);
    border-radius: 2px;
    /* width: 765px; */
    height: auto;
}

.user {
    display: flex;
    margin: 40px 25px;
    color: white;
}

.text2 {
    border-bottom: solid 1px rgb(255, 255, 255);
}
.text3 {
    border-bottom: solid 1px rgb(255, 255, 255);
}
.text4 {
    border-bottom: solid 1px rgb(255, 255, 255);
}

.text2 p {
    margin: 20px 45px;
    text-align: justify;
    color: white;
}
.text3 p {
    margin: 20px 45px;
    text-align: justify;
    color: white;
}
.text4 p {
    margin: 20px 45px;
    text-align: justify;
    color: white;
}
.text5 p {
    margin: 20px 45px;
    text-align: justify;
    color: white;
}

footer{
    margin-top: 90px;
    background-color: #343A40;
}

#-footer {
    justify-content: space-between;
}

#--footer-h5{ /*Títulos*/
    color: var(--roxo-color);
}
.nós{
    color: white;
}

.links{
    text-decoration: none;
    color: #fff;
}

.bi-instagram{
    color: white;
}

.bi-facebook{
    color: white;
}

.bi-envelope-at-fill{
    color: white;
}

.bi-telephone {
    color: white;
}

.Copyright{
    text-align: center;
    color: rgb(146, 143, 143);
}

.ping-copyrigth {
    color: rgb(146, 143, 143);
}
