@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&display=swap');

@font-face {
    font-family: 'retro';
    src: url(assets/Retro\ Gaming.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}
:root {
    --roxo-color: #CDA7FF;
    --darkb-color: #1D438A;
}

.text-secondary {
    color: #CDA7FF !important;
}
body {
    background-color: #615968;
    font-family: 'Josefin Sans', sans-serif;
}
.roxo {
    color: var(--roxo-color);
}

.navbar-brand {
    font-family: 'retro', Times, serif;
    color: var(--roxo-color);
}
.bi-person-circle {
    font-size: 22px;
}

.bi-person-circle:hover {
    color: white;
}

#nav-botao:hover {
    color: rgba(255, 255, 255, 0.651)
}

#main-image-container {
    overflow: hidden;
}
.main-image {
    transition: 0.2s ease;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

#main-text-container{
    background-color: var(--roxo-color);
}

a{
    text-decoration: none;
}

.-main-text {
    color: var(--darkb-color);
    font-size: 2.5em;
    transition: 0.2s ease;

}

.-main-subtext {
    padding-top: 100%;
    font-size: 20px;
    color: black;
    transition: 0.2s ease;

}

#main-container:hover img {
    scale: 1.1;
}

#main-container:hover .-main-text {
    color: white;
}

#main-container:hover .-main-subtext {
    color: white;
}

.bg-style {
    background-image: linear-gradient(to right, #9A8BE8, #CDA7FF);
}

.bg-style a {
    color: white;
}

.bg-style:hover {
    filter: brightness(90%);
}

#calendario {
    color: white;
    margin-top: 50px;
}

.carousel-inner {
  padding: 1em;
}
.card {
  margin: 0 0.5em;
  box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
  border: none;
  height: 325px;
}
.carousel-control-prev,
.carousel-control-next {
  background-color: black;
  width: 6vh;
  height: 6vh;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}

#games-container {
    margin-top: 60px;
}
#games-container h1 {
    color: white;
    margin-bottom: 30px;
}

.small-image-container {
    height: 250px;
    margin-bottom: 0px;
    overflow: hidden;
}

#img2 {
    transition: 0.2s ease;
}

#section-reviews {
    margin-bottom: 30px;
}
#section-reviews h2 {
    font-style: none;
    color: black;
}
#section-reviews:hover img {
    scale: 1.1;
}

#section-reviews:hover h2 {
    color: white;
}

.small-container {
    background-color: var(--roxo-color);
    padding: 20px 20px;
}

.h1-games-retro {
    align-items: center;
}

#games-container .gold {
    font-family: 'retro', Times, serif;
    color: #6b7453;
    padding: 15px 20px;
    border-radius: 10px;
    background-color: #c4cfa1;
}

#small-container-retro {
    background-color: #c4cfa1;  
}

#small-container-retro h2 {
    font-family: 'retro', Times, serif;
}

#card-news {
    background-color: transparent;
    box-shadow: none;
    transition: transform 0.5s;
    display: flex;
}

#card-news:hover {
    border: none;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    transform: scale(1.02);
    background-color: #6c6474;
}

#card-news:hover #card-title {
    color: var(--roxo-color);
}

#card-news:hover img {
    scale: 1.1;
    filter: brightness(100%)
}

#card-img {
    height: 200px;
    overflow: hidden;
}

#-card-img {
    height: 100%;
    object-fit: cover;
    filter: brightness(80%);
    transition: 0.2s ease;
}

#card-title {
    color: white;
}


@media (max-width: 768px) {
    #main-container {
        display: flex;
        flex-direction: column;
    }

    #main-image-container {
        width: 100%;
    }

    #main-text-container {
        width: 100%;
    }

    .-main-text {
        font-size: 1.9em;
    }

    .-main-subtext {
        font-size: 60%;
    }

    #card-img {
        display: none;
    }
}
@media (min-width: 768px) {
  .carousel-item {
    margin-right: 0;
    display: block;
  }
  .carousel-inner {
    display: flex;
  }
}
.card .img-wrapper {
    max-width: 100%;
    height: 13em;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card img {
    max-height: 100%;
}
@media (max-width: 768px) {

  .carousel-item {
    margin-right: 0;
    display: block;
  }
  .carousel-inner {
    display: flex;
  }
}