@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&display=swap');


:root {
    --roxo-color: #CDA7FF;
    --darkb-color: #1D438A;
}

body {
    background-color: #615968;
    font-family: 'Josefin Sans', sans-serif;
}
.roxo {
    color: var(--roxo-color);
}

.bi-person-circle {
    font-size: 22px;
}

#main-image-container {
    overflow: hidden;
}
.main-image {
    transition: 0.2s ease;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

.main-image:hover {
    scale: 1.1;
}

#main-text-container{
    background-color: var(--roxo-color);
}

a{
    text-decoration: none;
}

.-main-text {
    color: var(--darkb-color);
    font-size: 2.5em;
    transition: 0.2s ease;

}

.-main-text:hover {
    color: white;
}

.-main-subtext {
    padding-top: 100%;
    font-size: 20px;
    color: black;
    transition: 0.2s ease;

}

.-main-subtext:hover {
    color: white;
}

.bg-style {
    background-image: linear-gradient(to right, #9A8BE8, #CDA7FF);
}

.bg-style a {
    color: white;
}

.bg-style:hover {
    filter: brightness(90%);
}